<!-- templates/index.html -->
{% extends "_base.html" %}
{% load compress %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="flex flex-wrap">
            <div class="w-full sm:w-8/12 mb-10">
              <div class="container mx-auto h-full sm:p-10">
                <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
                  <div class="w-full">
                    <h1 class="text-4xl lg:text-6xl font-bold">Ready to build the digital <span class="text-primary_text">experiences </span> your customers have only drempt of?</h1>
                    <div class="w-20 h-2 bg-primary_text my-4"></div>
                    <p class="text-xl mb-10">Using my combined experinece in marketing, technology, and design let me help you build the product your organization deserves.</p>
                    <button class="bg-primary_text text-white text-2xl font-medium px-4 py-2 rounded shadow">Learn More</button>
                  </div>
                </header>
              </div>
            </div>
            <img src="{% static 'images/contactimage2.png' %}" alt="Leafs" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
          </div>
    </body>
</html>
{% endblock content %}