<!-- templates/index.html -->
{% extends "_base.html" %}
{% load compress %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <body>
            <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16 bg-none">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-primary_text md:text-5xl lg:text-6xl dark:text-white">Hi, I'm Paul, a product storyteller.</h1>
                <p class="mb-8 text-lg font-normal text-slate-200 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Delivering innovative software solutions powered by the cloud, infused with AI, and displayed in a smooth user experience is my specialty. Interested in how I help deliver your next hit product? Contact me below or explore my career link below!</p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                    <a href="/experience" class="inline-flex justify-center items-center py-3 px-5 font-medium text-center text-white rounded-lg bg-primary_text hover:primary_text focus:ring-4 focus:primary_text dark:focus:ring-blue-900">
                        View My Stories
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                    <a href="/contact" class="inline-flex justify-center items-center py-3 px-5 sm:ms-4 text-primary_text font-medium text-center rounded-lg border border-gray-300 hover:bg-gray-700 focus:ring-4 focus:ring-gray-500 dark:text-gray-700 dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                        Contact Me
                    </a>  
                </div>
            </div>
            
            <div class="max-w-screen-2xl grid grid-flow-col auto-cols-max justify-center gap-x-3">
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <span class="bg-primary text-white text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                        </svg>
                        Most Recent Experience
                        </span>
                    <a href="#">
                        <img class="rounded-t-lg" src="{% static 'images/contactimage2.png' %}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Senior Product Manager</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">My most recent experience is building a high-end AI-powered retail planning solution that reduces manual planning 75% and increases accuracy in forecasts leveraging analytics.</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="rounded-t-lg" src="{% static 'images/zebra-logo.png' %}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Senior Product Manager</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">My most recent experience is building a high-end AI-powered retail planning solution that reduces manual planning 75% and increases accuracy in forecasts leveraging analytics.</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="rounded-t-lg" src="{% static 'images/zebra-logo.png' %}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Senior Product Manager</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">My most recent experience is building a high-end AI-powered retail planning solution that reduces manual planning 75% and increases accuracy in forecasts leveraging analytics.</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
    </body>
</html>
{% endblock content %}